{:paths ["src"],
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.46"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.4.0"}},
 :aliases
 {:dev
  {:extra-paths ["test"],
   :extra-deps {io.github.robertluo/rich-comment-tests {:git/tag "v1.1.0", :git/sha "6d01d12"}}}
  :test
  {:exec-fn com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
   :exec-args {:dirs #{"src"}}}
  :readme
  {:exec-fn robertluo.clerk-doc/clj->md
   :exec-args {:from "src/robertluo/clerk_doc/readme.clj" :to "README.md"
               :eval-code? true :ai-improve? false}}
  :build
  {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.2", :git/sha "0ffdb4c"}},
   :ns-default build}}}
